- provide(:title, "Dashboard")
%h1 Dashboard
.row
  .col-md-6.col-md-offset-3
    - if facebook_authorized?
      %p You're logged in!!
      %p= session[:facebook_access_token]
    - else
      = link_to "Log in to Facebook", @facebook_access_code_url, class: "btn btn-primary"
