.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.login-pane {
  background-size: cover;
  background-position: center;
}

.vertical-align {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.white-text {
  color: #FFFFFF;
}